<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sypark.smarthealthcare">

    <uses-permission android:name="android.permission.NFC"/>
    <!--디바이스의 NFC 하드웨어에 액세스 허용/-->

    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    <!--하드웨어 기능 선언: 앱이 NFC에 의존한다는 외부 엔티티(Google Play 스토어)에 알린다.
        required를 true로 설정하는 경우 디바이스의 NFC 지원이 필수, 스토어는 NFC지원 디바이스만 앱을 표시-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartHealthCare">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>